.container p{
    width:50%;
}
.h{
    width:450px;
    position: absolute;
    top:20%;
    left:60% ;
}
.container{
    position: absolute;
    padding: 10px;
    margin-top: 10%;
    margin-left:20%;
}
