*{
    margin: 0%;
    padding: 0%;
}
.Main-div{
    background-color:#6983aa;
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.center-div{
    background-color:#f4f4f4;
    width:125%;
    height: 75vh;
    border-radius:15px;
    position: relative;
}
.h1{
  padding: 10px 0px;
  background-color: #8566aa;
  color: white;
  width: 100px;
  height: 20px;
  margin-top: 20px;
  font-size: 20px;
  }
.input{
    border: none;
    text-align: center;
    border-bottom: 2px solid #8566aa;
    height:30px;
    width: 60%;
    font-size: 20px;
    outline: none;
    margin-top: 30px;
    background-color: #f4f4f4;
}
.button{
    background-color:#8566aa; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    cursor: pointer;
    border-radius:30%;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}
.button:hover{
    background-color: #2bf62b;
}
ol{
    margin-top: 35px;
}
ol li{
    font-size: 20px;
    color:black;
    list-style: none;
    
}
.todo-styles{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.but{
    font-size:30px;
    border-radius: 40%;
    width:30px;
    height: 35px;
    border:transparent;
}
.but:hover{
    background-color: red;
    color: white;
}
@media((max-width:750px)) {
    .center-div{
        width:55%;
    }
    
}